*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul{list-style: none;}
a,li{text-decoration: none;}
body{
    font-family: "RedHatText", sans-serif;
    font-weight: 300;
}
.body-no-scroll{
    overflow: hidden;
}
h1,h2,h3,h4,h5,h6{
    font-family: "RedHatDisplay", sans-serif;
}
.cont-principal{
    padding: 0 5%;
    width: 100%;
    max-width: calc(1600px + 10%);
    margin:auto;
    height: 100%;
}
.cont-secundario{
    padding: 0 15px;
}
header{
    top: 0;
    height: 75px;
    width: 100%;
    position: fixed;
    background: linear-gradient(270deg, #118a39, #075822);
    z-index: 1000;
}
.navegador{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cont-logo-nav{
    display: flex;
    align-items: center;
}
img.logo-nav{
    height: 40px;
    width: auto;
}
nav,.lista-nav{
    height: 100%;
}
.lista-nav>li>a{
    font-family: "RedHatDisplay";
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.1px;
    color: #fff;
}
.lista-nav>li>a:hover{
    text-decoration: underline;
}
.lista-nav>li{
    display:inline-flex;
    padding: 0 16px;
    align-items: center;
    height: 100%;
}
.lista-nav>li .cont-sublista{
    display: block;
    position: absolute;
    opacity: 0;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;  
    background-color: #fff;
    border-bottom: 2px solid #ddd;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
}
/*.lista-nav>li:hover .cont-sublista,*/
.lista-nav>li .cont-sublista.sublista-activado{
    opacity: 1;
    visibility: visible;
}
.sublista-nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 25px;
    padding: 25px 5%;
    width: 100%;
    max-width: calc(1600px + 10%);
    margin:auto;
}
@media (max-width: 1024px){
    .sublista-nav{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.sublista-nav li{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}
.sublista-nav li a{
    font-size: 14px;
    color: #333;
    font-weight: 400;
}
.sublista-nav li a:hover{
    text-decoration: underline;
}
.caja-flecha{
    cursor: pointer;
}
.flecha-sublista{
    height: 9.5px;
    padding-top: 2px;
    width: auto;
    margin-left: 12px;
}
.flecha-color{fill:#fff;}
.overlay-sublista{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1000;
    height: 100vh;
    width: 100%;
}
.overlay-sublista.mostrar{
    display: block;
}
.flecha-sublista.volteado{
    transform: rotate(180deg);
}
@media (min-width: 836px){
    #nav-contacto{
        padding: 0px 8px 0px 40px;
    }
    #nav-contacto>a{
        color: #118136;
        font-weight: 700;
        font-size: 13px;
        background-color: #eee;
        padding: 6px 8px;
        border-radius: 2px;
        border: 2px solid #eee;
    }
    #nav-contacto>a:hover{
        color: #fff;
        text-decoration: none;
        background-color: rgb(17, 129, 54,0);
    }
}
.banner-inicio{
    background-color: #eeeeee;
    margin-top: 75px;
    height: 500px;
}
.boton-burguer{
    display: none;
}
.boton-burguer>img{
    height: 18px;
    width: auto;
}
.cont-banner{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}
.cont-banner>img{
    /*width: 60%;
    margin-left: 10%;
    height: auto;
    max-width: 630px;*/
    height: 85%;
    width: auto;
}
@media (max-width: 1600px) and (min-width: 836px){.banner-inicio{height:450px}}
@media (max-width: 1500px) and (min-width: 836px){.banner-inicio{height:400px}}
@media (max-width: 1400px) and (min-width: 1025px){.banner-inicio{height:350px}}
.texto-banner{
    width: 30%;
    font-family: "RedHatDisplay", sans-serif;
}
.texto-banner h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 20px;
}
.texto-banner p{
    font-size: 17px;
}
.bi-enlace{
    margin-top: 30px;
}
.bi-enlace a{
    color: #fff;
    background-color: #118136;
    padding: 8px 13px;
    border: 2px solid #118136;
    display: inline-block;
    font-weight: 400;
    border-radius: 2px;
    font-size: 15px;
}
.bi-enlace a:hover{
    color: #118136;
    background-color: rgb(0, 0, 0, 0);
    border: 2px solid #118136;
}
.homepage{
    width: 100%;
    padding: 50px 0px;
}
.homepage2{
    background-color: #eee;
}
.homepage h3{
    text-align: center;
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 50px;
}
.hmpg-prod-cont{
    display: grid;
    grid: auto/31% 31% 31%;
    column-gap: 3.5%;
}
.hmpg-prod{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0px 20px 20px 20px;
    background-color: #eeeeee;
    border-radius: 5px;
}
.hmpg-prod-dest img{    
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: auto;
}
.hmpg-prod-dest h4{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
}
.hmpg-descrip{
    font-size: 12px;
}
.hmpg-vermas{
    text-align: center;    
    margin: 30px 0px 50px;
    font-size: 18px;
}
.hmpg-vermas>a{
    color: #118136;
    font-weight: 700;
    font-family: "RedHatDisplay", sans-serif;
}
.hmpg-vermas>a:hover{
    text-decoration: underline;
}
.hmpg-iconos-cont{
    display: grid;
    grid: auto / 1fr 1fr 1fr 1fr;
    column-gap: 10%;
    padding: 40px 0px 10px 0px;
    margin: 0px 13%;
    text-align: center;
}
.hmpg-icono{
    font-weight: 400;
    font-size: 17px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}
.hmpg-icono>img{
    width: 50px;
    height: 50px;
    margin-bottom: 18px;
}
.hmpg-marcas-cont{
    width: 90%;
    margin: auto;
}
.hmpg-marcas-cont img{
    filter: grayscale(100%) brightness(90%) contrast(150%);
    height: 40%;
    width: 100%;
}
#logo-gummi-hmpg{
    height: 55%;
}
#logo-stm-hmpg{
    height: 60%;
}
#logo-tollok-hmpg{
    height: 30%;
}
#logo-jakob-hmpg{
    height: 30%;
}
.hmpg-marcas-cont img:hover{
    filter: grayscale(0%);
}
main{
      height: 2900px;
  }

@media (max-width: 1024px){
    .texto-banner h2{
        font-size: 28px;
        font-weight: 700;
        line-height: 35px;
        margin-bottom: 20px;
    }
    .texto-banner p{font-size: 15px;}
    .bi-enlace a{font-size: 13px;}
    .banner-inicio .cont-principal{padding: 0}
}
@media (max-width: 835px){
    header{
        height: 65px;
    }
    .banner-inicio{
        margin-top: 65px;
    }
    nav{
        display: block;
        position: absolute;
        top: 0px;
        padding-top: 65px;
        right: -100%;
        width: 100%;
        height: 100vh;
        transition: right 0.3s ease-in-out;
        z-index: -1000;
    }
    .boton-burguer{
        display: flex;
        align-items: center;
    }
    .lista-nav{
        background-color: #fff;
        margin:auto;
        height: 100%;
        overflow-y: auto;
        padding-bottom: 80px;
    }
    nav.nav-activado{
        right: 0%;
    }
    .lista-nav>li{
        display: block;
        height: unset;
        padding: 19px 5%;
        width: 100%;
        max-width: calc(1600px + 10%);
        border-top: 1px solid #eee;
    }
    .lista-nav>li a{
        color: #333;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0px;
    }
    .caja-flecha{
        height: 22px;
        padding-left: 20px;
        width: 36px;
        border-left: 1px solid #eee;
        display: inline-flex;
        float: right;
        /*position: absolute;
        right: 0;*/
    }
    .flecha-sublista{
        height: 11px;
        padding: 0;
        width: auto;
        margin: 0px;
        align-self: center;
    }
    .flecha-color{fill:#555;}
    .lista-nav>li .cont-sublista{
        display: none;
        position: static;
        height: 0%;
        border-bottom: none;
    }
    .lista-nav>li .cont-sublista.sublista-activado{
        height: 100%;
        display: block;
    }
    .sublista-nav{
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
        padding: 18px 5% 0px;
    }
    .sublista-nav li{
        padding: 13px 0px;
    }
    .sublista-nav li a{
        line-height: 17px;
        font-size: 14px;
        font-weight: 400;
    }    
    .overlay-sublista.mostrar{
        display: none;
    }
    .hmpg-iconos-cont{
        column-gap: 8%;
        margin: 0px 4%;
    }
    .hmpg-prod-cont{
        grid: 1fr 1fr 1fr/100%;
        column-gap: 0%;
        row-gap: 35px;
    }
    .hmpg-marcas-cont img{
        filter: none;
    }
    .cont-banner{position:relative;}
    .texto-banner{position:absolute; bottom:15px;left:10px;width:calc(100% - 10px)}
    .cont-banner>img{position:absolute; top:20px;left:0;right:0;height:230px; width:auto; margin:auto}
}
@media (max-width: 600px){
    .hmpg-iconos-cont{
        width: 275px;
        grid: auto auto/ 110px 110px;
        gap: 55px;
        padding: 30px 0px;
        margin: auto;
        text-align: center;
    }
    .hmpg-marcas-cont .splide .splide__slider{margin: 0px 30px;}
    button.splide__arrow--prev{left:0px;}
    button.splide__arrow--next{right:0px;}
    .texto-banner h2{
        font-size: 24px;
        font-weight: 700;
        line-height: 25px;
        margin-bottom: 20px;
    }
    .texto-banner p{font-size: 13px;}
    .bi-enlace a{font-size: 11px;}
    .banner-inicio .cont-principal{padding: 0}
}
@media (max-width: 500px){
    .cont-banner>img{top:20px;left:0;right:0;height:auto;width:90%;margin:auto}
}
.nav-linkedinsvg{fill:#555;} /*#0077b7*/